
/* Estilos para la primera sección con parallax */
.firstSection {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallaxBackground {
  background-image: url('../public/imagen_vr.png'); /* Ruta relativa a la imagen */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%; /* Ajusta el valor según el efecto deseado */
  z-index: -1;
  transform: translate(0, -10%); /* Ajusta el valor según el efecto deseado */
  transition: transform 0.3s ease-in-out;
}

.firstSection:hover .parallaxBackground {
  transform: translate(0, -5%); /* Ajusta el valor según el efecto deseado */
}

.sectionContent {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 2rem;
  color: #afaeae;
}

/* Estilos para la separación en blanco */
.whiteSeparator {
  height: 4rem;
}

/* Estilos para la segunda sección */
.secondSection {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de blur */
  padding: 2rem;
  display: flex;
  justify-content: center;
}


.column {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Ajusta el alto al 100% del contenedor */
}

.column iframe {
  max-width: 100%;
}

.column h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.column p {
  font-size: 1rem;
  color: #555;
}

.sectionTitle {
  position: absolute; /* Añade posición absoluta */
  top: 50%; /* Posiciona en el 50% superior del contenedor */
  left: 50%; /* Posiciona en el 50% izquierdo del contenedor */
  transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
  margin: 0; /* Elimina el margen para mayor precisión */
  z-index: 1; /* Asegura que el título esté sobre el video */
}
