.container {
    padding: 2rem;
    background-color: #ffffff; /* Color celeste */
    color: #333;
  }
  
  .contextSection {
    text-align: center;
    margin-bottom: 3rem;
    background-color: #888888;
  }
  
  .contextContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: white;
  }
  
  .leftColumn {
    flex: 1;
    margin: 2rem;

  }
  
  .rightColumn {
    flex: 1;
    margin-left: 2rem;
  }
  
  .rightColumn img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .valuesSection {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con blur */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
  }
  
  .valuesColumn {
    flex: 1;
    text-align: center;
  }
  
  .valueIcon {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  /* Estilos para la separación en blanco */
  .whiteSeparator {
    height: 4rem;
  }

  .whiteSeparator2 {
    height: 2rem;
  }